<%= render 'form' %>
<div id="conversion">hi</div>

<form id="target" action="/api/v1/currencies">
  <input type="text" value="Hello there">
  <input type="submit" value="Go">
</form>
<div id="other">
  Trigger the handler
</div>
