<% if current_user.nil? %>
  <div id="current_user">0</div>
<% else %>
  <div id="current_user"><%=current_user.id%></div>
<% end %>
<div class='row'>
  <div class ="small-9 column">
    <div id="ConversionForm"></div>
    <br>
    <div id="WalletList"></div>
  </div>
  <div id="ConversionTable" class = "small-2 small-offset-1 column info"></div>
</div>
