<% if current_user.nil? %>
  <div id="current_user">0</div>
<% else %>
  <div id="current_user"><%=current_user.id%></div>
<% end %>
<div class="row">
  <div id="ConversionForm" class='small-7 small-centered column info'></div>
</div>
<div class='row'>
  <div id="ConversionTable" class = "small-2 column info"></div>
  <div id="WalletList" class ="small-9 small-offset-1 column info"></div>
<div>
