.conversion {
  font-size: 150%;
  text-align: center;
}

.updated {
  text-align: center;
  font-size: 50%;
}

.padding {
  padding: 5px;
  margin-top: 10px;
  text-align: center;
}

.words {
  margin-top: 18px;
}

input[type=text] {
  text-align:center
}

/*.cfd{
  height: 30px;
  width: 50px;
}*/

.cfn {
  text-align:left;
  margin-bottom: 0px;
  font-size: 80%
}

.cfb {
  text-align:right;
  margin-bottom: 0px;
  font-size: 80%
}
