.conversion {
  font-size: 150%;
  text-align: center;
}

.updated {
  text-align: center;
  font-size: 50%;
}

.padding {
  padding: 5px;
  margin-top: 10px;
  text-align: center;
}

.words {
  margin-top: 18px;
}
