/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require foundation
 *= require default_html
 *= require_tree .
 *= require_self
 */

#current_user {
   visibility: hidden;
}


.info{
  font-weight: 500;
  background-color: #282537;
  opacity: .9;
  color: white;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 25px;
}

label {
  color: inherit;
}

.conversionratestable{
  list-style-type: none;
  padding: 0;
}

.percent{
  text-align:right;
}

td {
  font-size: 75%;
  padding: 4px;
  border-bottom:1pt solid #423e5b;
}

table {
    border-collapse: collapse;
}

.conversionrow {
  border-bottom: solid;
}

.rate {
  text-align: center;
}

.p {
  color: #52e417;
}

.n {
  color: red;
}

.wlist {
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
    background-color: inherit;
}

.wallet {
  font-size: 80%;
  padding: 10px;
  float: left;

}

.wallet:hover {
    background-color: black;
    cursor:pointer;
}

.textbox {
  border-radius: 5px;
  background-color: white;
}


body {
  margin: 0px;
  background-image: url("world1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position: top;
  font-family: "Lato";
}

.dropdown{
  font-family: "Lato";
  text-align: center;
  text-align-last: center;
}
